.navbarP {
	position: fixed;
	background-color: #23232e;
	transition: width 600ms ease;
	overflow: hidden;
	z-index: 1;
}

.navbar-navP {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.nav-itemP {
	width: 100%;
}

.nav-itemP:last-child {
	margin-top: auto;
}

.nav-linkP {
	display: flex;
	align-items: center;
	height: 5rem;
	color: #b6b6b6;
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: 600ms;
}

.nav-linkP:hover {
	filter: grayscale(0%) opacity(1);
	background: #141418;
	color: #2780dc;
}

.link-textP {
	display: none;
	margin-left: 0.5rem;
}

.nav-linkP svg {
	width: 2rem;
	min-width: 2rem;
	margin: 0 1rem 0 1.5rem;
}

.fa-secondary {
	color: #2780dc;
}

.fa-primary,
.fa-secondary {
	transition: 600ms;
}

.logoP {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
	color: #ececec;
	background: #141418;
	font-size: 1.5rem;
	letter-spacing: 0.3ch;
	width: 100%;
}

.logoP svg {
	transform: rotate(0deg);
	transition: 600ms;
}

.logo-textP {
	display: inline;
	position: absolute;
	left: -999px;
	transition: 600ms;
}

.navbarP:hover .logoP svg {
	transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
	.navbarP {
		bottom: 0;
		width: 100vw;
		height: 5rem;
	}

	.logoP {
		display: none;
	}

	.navbar-navP {
		flex-direction: row;
	}

	.nav-linkP {
		justify-content: center;
	}

	.mainP {
		margin: 0;
	}
}

/* Large screens */
@media only screen and (min-width: 600px) {
	.navbarP {
		top: 0;
		width: 5rem;
		height: 100vh;
	}

	.navbarP:hover {
		width: 10rem; /* Ancho del sidebar */
	}

	.navbarP:hover .link-textP {
		display: inline;
	}

	.navbarP:hover .logoP svg {
		margin-left: 11rem;
	}

	.navbarP:hover .logo-textP {
		left: 0px;
	}
}
