.main__navbar {
	background: #14151a;
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	padding: 0.5rem 0;
	z-index: 30;
	font-family: Sora, sans-serif; /* lato poppins Oswald */
	position: sticky;
	top: 0;
}

.logo__navbar {
	display: block;
}

.menu__navbar {
	display: flex;
	align-items: center;
	list-style-type: none;
}

.menu__navbar li {
	padding: 0 1rem;
}

.item__navbar {
	color: #fff;
	position: relative;
	display: block;
	text-decoration: none;
	height: 100%;
	cursor: pointer;
	transition: color 0.5;
}

.item__navbar:active {
	color: #15cdfc;
}

.item__navbar::after {
	position: absolute;
	content: '';
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: #3498db;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s;
}

.item__navbar:hover {
	color: #95a5a6;
}

.item__navbar:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.item__navbar-selected {
	color: #95a5a6;
}

.login__navbar {
	display: flex;
	align-items: center;
	margin-right: 24px;
}

.button-login__navbar {
	border-radius: 4px;
	background: #256ce1;
	padding: 10px 22px;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
	text-decoration: none;
}

.button-login__navbar:hover {
	background: #fff;
	color: #256ce1;
}

.icon-menu__navbar {
	display: none;
	color: #fff;
}

.icon-menu__navbar .checkbox {
	position: absolute;
	height: 32px;
	width: 32px;
	top: 25px;
	right: 25px;
	z-index: 10;
	opacity: 0;
	cursor: pointer;
}

.icon-menu__navbar .hamburger-lines {
	display: block;
	height: 26px;
	width: 32px;
	position: absolute;
	top: 25px;
	right: 25px;
	z-index: 5;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.icon-menu__navbar .hamburger-lines .line {
	display: block;
	height: 4px;
	width: 100%;
	border-radius: 10px;
	background: #fff;
}

.icon-menu__navbar .hamburger-lines .line1 {
	transform-origin: 0% 0%;
	transition: transform 0.4s ease-in-out;
}

.icon-menu__navbar .hamburger-lines .line2 {
	transition: transform 0.2s ease-in-out;
}

.icon-menu__navbar .hamburger-lines .line3 {
	transform-origin: 0% 100%;
	transition: transform 0.4s ease-in-out;
}

.icon-menu__navbar input[type='checkbox']:checked ~ .menu-items {
	transform: translateX(0);
}

.icon-menu__navbar input[type='checkbox']:checked ~ .hamburger-lines .line1 {
	transform: rotate(45deg);
}

.icon-menu__navbar input[type='checkbox']:checked ~ .hamburger-lines .line2 {
	transform: scaleY(0);
}

.icon-menu__navbar input[type='checkbox']:checked ~ .hamburger-lines .line3 {
	transform: rotate(-45deg);
}

.menu-mobile__navbar {
	display: none;
}

@media screen and (max-width: 1120px) {
	.main__navbar {
		justify-content: space-between;
	}

	.logo__navbar {
		margin-left: 2rem;
	}

	.icon-menu__navbar {
		display: block;
	}

	.menu__navbar {
		display: none;
	}

	.login__navbar {
		display: none;
	}

	.icon-profile__navbar {
		position: absolute;
		top: 20px;
		right: 80px;
	}

	.menu-mobile__navbar {
		display: block;
	}
}
