.dynamicDeleteButton {
	position: relative;
	top: 8px;
	margin: 0 8px;
	font-size: 24px;
	cursor: pointer;
	transition: all 0.3s;
}

.dynamicDeleteButton:hover {
	color: #f91942;
}

.dynamicDeleteButton[disabled] {
	cursor: not-allowed;
	opacity: 0.5;
}

.addItemBtn {
	background: #f7f7f7;
	border-radius: 4px;
	padding: 5px 10px;
	color: #7c7c7c;
	border: 1px solid #7c7c7c;
	outline: none;
	cursor: pointer;
	font-family: 'Sora', sans-serif;
	font-weight: 300;
	font-size: 14px;
	transition: border-color 400ms ease, color 400ms ease;
	width: 100%;
	margin: 0px auto;
	display: flex;
	gap: 8px;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.addItemBtn:hover {
	border-color: #f91942;
	color: #f91942;
}