.menuTop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	height: 80px;
	scrollbar-gutter: stable;
}

.logoBtnMenu {
	display: none;
}

.profileAvatar {
	margin-left: auto;
	margin-right: 8%;
}

@media (max-width: 960px) {

	.logoBtnMenu {
		display: block;
	}

	.profileAvatar {
		margin-left: auto;
		margin-right: 3%;
	}
}