.containerMapForm {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

.mapaTitulo {
  margin-bottom: 1rem;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 600;
}

.autocompleteItem {
  width: 100%;
  margin: 0px 0px 20px;
}

.helpTextMap {
  font-size: 13px;
  font-weight: 600;
  text-wrap: pretty;
  color: #5c5c5c;
  margin-top: 8px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.mapTextInfo {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1em;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}