.foro-container {
	min-height: calc(100vh - 170px);
    height: 100%;
    background: url(/src/assets/images/fondoForo.jpg) center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foro-container-background {
    min-height: calc(100vh - 170px);
    height: 100%;
    background-color: rgba(246, 216, 107, 0.50);
}

.foro-header {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: #2B2823;
}

.foro-header__sections {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2rem;
	min-height: 100%;
	width: 50%;
	padding-left: 2rem;
}

.foro-header__sections-btn {
	font-size: .95rem;
	color: #fff;
	cursor: pointer;
}

.foro-header__sections-btn:hover {
	color: #b86610;
}

.foro-header__sections-btn_active {
	color: #FA8C15;
}

.foro-header__search {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	min-height: 100%;
	width: 50%;
	padding-right: 1rem;
}

.foro-header__search input {
	background-color: #2B2823;
	border: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	outline: none;
}

.foro-header__search input:focus {
	border-bottom: 1px solid #FA8C15;
}

.foro-body {
	min-height: calc(100vh - 234px);
}

.foro-body__title {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	padding-top: 2rem;
	font-size: 50px;
	font-weight: lighter;
	text-align: center;
	color: #222;
}

@media (max-width: 880px) {
	.foro-body__title {
		font-size: 45px;
	}
}

@media (max-width: 710px) {
	.foro-body__title {
		font-size: 33px;
	}
}

.foro-body__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding-bottom: 2rem;
}














/* .bgScreenThread {
	display: flex;
	justify-content: center;
	min-height: calc(100vh - 170px);
	height: 100%;
	background-color: #ecf5ff;
}

.cardListThread {
	background-color: #fff;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	margin: 25px auto;
	height: 100%;
	width: 90%;
}

.headListThread {
	display: flex;
	justify-content: space-between;
	padding: 10px 25px;
	background-color: #fff;
	font-family: Sora Bold, sans-serif;
	border-bottom: 3px solid #cccccc;
}

.firstItem {
	width: 60%;
}

.secondItem {
	width: 15%;
	text-align: center;
}

.threadItem {
	width: 25%;
	text-align: left;
}

.extra-info__listThread {
	display: flex;
	flex-wrap: nowrap;
} */

/* 
  THREAD item
*/

/* .bodyListThread {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 15px 25px;
	background-color: #fff;
	border-bottom: 3px solid #f0f4f7;
}

.titleThread {
	margin-bottom: 0px;
	font-size: 16px;
	font-family: Sora Bold, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.extraThread {
	font-family: Sora, sans-serif;
	font-size: 12px;
	color: #718099;
}

.posteosListThread {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	font-size: 16px;
	font-family: Sora, sans-serif;
}

.lastActivity {
	display: flex;
	align-items: center;
	gap: 20px;
}

.user {
	margin-bottom: 0px;
	font-size: 13px;
	font-family: Sora, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.userTime {
	font-size: 12px;
	font-family: Sora, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #718099;
}

.titleOculto {
	display: none;
}

@media screen and (max-width: 800px) {
	.headListThread {
		display: none;
	}

	.firstItem {
		width: 100%;
	}

	.secondItem {
		display: none;
	}

	.threadItem {
		width: 100%;
		margin-top: 5px;
		padding-top: 8px;
	}

	.titleOculto {
		display: inline-block;
		font-family: Sora Bold, sans-serif;
		font-size: 12px;
		border-top: 1px solid #f0f4f7;
	}

	.extra-info__listThread {
		display: flex;
		flex-wrap: nowrap;
	}
} */
