.detailsRecipe {
	margin: 20px auto 0;
	background-color: #fff;
}


.headerRecipeDetail {
	grid-area: header;
	margin-bottom: 20px;
}

.headerRecipeDetail>h1 {
	font-size: 34px;
	font-weight: 700;
	color: #292929;
	border-top: 1px solid #eee;
	padding-top: 20px;
	text-align: center;
}

.linesCategory {
	text-transform: uppercase;
	font-weight: 700;
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

.linesCategory>span {
	display: inline-block;
	position: relative;
	padding-left: 1em;
	padding-right: 1em;
}

.linesCategory>span::before {
	right: 100%;
	content: "";
	position: absolute;
	height: 100%;
	width: 9999px;
	top: 50%;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: hsla(0, 0%, 93%, .9);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: hsla(0, 0%, 93%, .9);
	height: 0.5em;
	margin-top: -0.25em;
}

.linesCategory>span::after {
	left: 100%;
	content: "";
	position: absolute;
	height: 100%;
	width: 9999px;
	top: 50%;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: hsla(0, 0%, 93%, .9);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: hsla(0, 0%, 93%, .9);
	height: 0.5em;
	margin-top: -0.25em;
}

.linesCategory>span>a {
	font-family: 'Montserrat', Verdana, sans-serif;
	color: #f91942;
}

.linesCategory>span>a:hover {
	text-decoration: underline;
	color: #f91942;
}

.headerPrint {
	display: none;
}

.imageDetailRecipe {
	width: 100%;
	height: 500px;
	position: relative;
}

.likeRecipe {
	border: 2px solid #f3103c;
	border-radius: 50px;
	color: #eee;
	cursor: pointer;
	line-height: normal;
	position: absolute;
	right: 15px;
	top: 15px;
	width: 50px;
	height: 50px;
	display: grid;
	place-content: center;
}

.likeRecipe:hover:not(.likeRecipeActive) {
	background-color: #f15f7a54;
}

@keyframes liked {
	0% {
		transform: scale(0.8);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}

.likeRecipeActive {
	background-color: #f3103c;
	color: #fff;
	border-color: #f3103c;
}

.likeRecipeActive>svg {
	animation: liked 0.4s ease;
}


.body {
	padding: 10px 20px 50px;
	border-left: 2px solid #e8edee;
	border-right: 2px solid #e8edee;
}

.userInfoDetailRecipe {
	font-size: 14px;
	font-weight: 600;
	font-family: 'Sora', sans-serif;
	color: #6E6E6E;
}

.userInfoDetailRecipe>em {
	font-weight: 400;
	font-size: 13px;
	padding: 0px 2px;
}

.sectionTitle {
	font-family: 'Montserrat', Georgia, Times, 'Times New Roman', serif;
	font-weight: 600;
	margin: 25px 0 15px;
	text-transform: uppercase;
	font-size: 26px;
	color: #282828;
	align-items: center;
	display: flex;
}

.sectionLine {
	margin-left: 15px;
	height: 1px;
	border-bottom: 2px solid #282828;
	width: 100%;
}

.ingredientsList {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 20px;
	margin-left: 10px;
}

.ingredientsItems {
	font-family: 'Sora', system-ui, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #282828;
	line-height: 1.1;
	display: grid;
	grid-template-columns: 18px auto;
	align-items: center;
	gap: 0.5em;
	cursor: pointer;
	width: fit-content;
}

.ingredientsItems input[type="checkbox"] {
	display: grid;
	place-content: center;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	margin: 0;
	font: inherit;
	/* color: #36b37e; */
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid #959495;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
}

.ingredientsItems input[type="checkbox"]:checked~span {
	text-decoration: line-through;
}

.ingredientsItems input[type="checkbox"]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em #36b37e;
	background-color: #36b37e;
	transform-origin: bottom left;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.ingredientsItems input[type="checkbox"]:checked::before {
	transform: scale(1);
}

.stepsList {
	counter-reset: my-awesome-counter;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-top: 25px;
}

.stepsListitem {
	counter-increment: my-awesome-counter;
	font-family: 'Sora', sans-serif;
	font-size: 16px;
	position: relative;

}

.stepsListitem::before {
	background-color: #f91942;
	border-radius: 50%;
	color: #fff;
	content: counter(my-awesome-counter);
	display: grid;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 600;
	height: 24px;
	left: calc(-1 * 24px - 10px);
	line-height: 32px;
	place-content: center;
	position: absolute;
	text-align: center;
	top: -2px;
	width: 24px;
}

@media print {
	.likeRecipe {
		display: none;
	}

	.imageDetailRecipe {
		height: 380px;
	}

	.headerPrint {
		display: block;
	}

	.stepsList {
		list-style-type: decimal;
		counter-reset: none;
	}

	.stepsListitem::before {
		display: none;
	}
}