.card-recipe {
	align-self: flex-start;
	position: relative;
	width: 270px;
	background: #f7f7f7;
	transition: all 300ms ease-in-out;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-recipe .card-img {
	visibility: hidden;
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.card-recipe .card-img-hovered {
	--card-img-hovered-overlay: linear-gradient(to bottom,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0));
	transition: all 350ms ease-in-out;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	position: absolute;
	height: 200px;
	top: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.card-recipe .card-info {
	position: relative;
	padding: 0.75rem 1.25rem;
	height: 120px;
	transition: all 200ms ease-in-out;
}

.card-recipe .card-info .card-about {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.75rem 0;
	transition: all 200ms ease-in-out;
}

.card-recipe .card-info .card-about .card-tag {
	width: fit-content;
	padding: 4px 8px;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	background: #ff5630;
	border-radius: 5px;
}

.card-recipe .card-info .card-about .card-review {
	display: flex;
	align-items: center;
	gap: 8px;
	color: #ffab00;
	font-size: 14px;
	width: fit-content;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 4px 8px;
	border-radius: 8px;
	font-family: 'Sora', sans-serif;
}

.card-recipe .card-info .card-title {
	z-index: 10px;
	font-size: 16px;
	padding-top: 4px;
	transition: all 350ms ease-in-out;
	font-family: 'Sora', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 600px;
	text-transform: capitalize;
	color: #0d1717;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.card-recipe:hover {
	cursor: pointer;
	box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1),
		0px 5px 15px rgba(0, 0, 0, 0.07);
	transform: scale(1.025);
}

.card-recipe:hover .card-img-hovered {
	--card-img-hovered-overlay: linear-gradient(to bottom,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.65));
	height: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.card-recipe:hover .card-about,
.card-recipe:hover .card-creator {
	opacity: 0;
}

.card-recipe:hover .card-info {
	background-color: transparent;
}

.card-recipe:hover .card-title {
	color: #fff;
	transform: translate(0, -10px);
}