.profileNotificationCard {
  background-color: #fff;
  display: grid;
  grid-template-columns: 50px 1fr 5px;
  gap: 20px;
  cursor: pointer;
  padding: 30px;
}

.profileNotificationCard:hover {
  background-color: #fbfbfb;
}

.profileNotificationCard>svg {
  background-color: #fafafa;
  box-shadow: 0 4px 6px rgb(0 0 0/12%);
  height: 50px;
  width: 50px;
  padding: 5px;
}

.profileNotificationContent>h3 {
  color: rgba(0, 0, 0, .65);
  font-size: 18px;
  margin-bottom: 2px;
}

.profileNotificationContent>p {
  color: rgba(0, 0, 0, .65);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}

.profileNotificationContent>span {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(0, 0, 0, .45);
  font-size: 14px;
  line-height: 1.5715;
}

.notificationUnread {
  background-color: orange;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-block: auto;
}