.mapaContenedor {
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 1rem;
	background-color: #f4f4f4;
}

.mapaFormulario {
	background: #fff;
	padding: 30px 50px;
	margin: 25px 0;
	width: 650px;
	height: auto;
	box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25);
}

.mapaTitulo {
	text-align: center;
	margin-bottom: 2rem;
}

.mapaTexto {
	text-align: center;
	margin-bottom: 1rem;
	font-size: 0.8rem;
}

.mapaUbicacion {
	position: relative;
	width: auto;
	height: 350px;
	margin-bottom: 40px;
}

.ant-form-item {
	margin-bottom: 15px !important;
}

@media screen and (max-width: 655px) {
	.mapaFormulario {
		padding: 30px 50px;
		width: 100%;
	}
}
