.sectionContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f0e9e4;
  padding: 20px 0;
}

.imageContainer {
  margin: 60px;
  display: flex;
  align-items: center;
  width: 38%;
  background: url('@/assets/images/home/SinTacc-logo.jpg');
  background-size: cover;
  position: relative;
  border-radius: 32px;
}

.textContainer {
  width: 50%;
  height: 100%;
  padding: 60px 50px;
}

.textContainer h1 {
  margin: 10 0 0 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  /*color: #110d0d;*/
  font-family: 'Sora', sans-serif;
  /* Montserrat */
  /*text-shadow: 4px 3px 0 #7a7a7a;*/
}

.textContainer span {
  color: #fff;
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  font-size: 36px;
  display: inline-block;
  transform: translate(0, 0) rotate(0) skewX(-12deg) skewY(0) scaleX(1) scaleY(1);
  background-color: #f91942;
  padding-left: 14px;
  padding-right: 14px;
  color: rgb(247 250 252 / 1);
}

.textContainer p {
  margin: 32px 0;
  font-size: 16px;
  font-weight: 400;
  width: 600px;
}