.detailsRecipe {
	margin: 20px;
	background-color: #fff;
}

.image {
	position: relative;
	border: 15px double #7f500b;
}

.body {
	padding: 20px;
}

.title {
	font-size: 28px;
	font-family: Sora Bold, sans-serif;
	letter-spacing: 1px;
	padding-bottom: 5px;
	border-bottom: 1px solid #cccccc;
}

.info {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Open sans', sans-serif;
	padding: 10px 0;
	border-bottom: 1px solid #cccccc;
	color: #595959;
}

.ingredientsTitle {
	display: inline;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	width: 100%;
	padding-right: 10%;
}

.ingredientsList {
	border-left: 5px ridge #7f500b;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	font-family: 'Open sans', sans-serif;
	font-size: 16px;
	font-style: italic;
	list-style-type: '☑  ';
}

.ingredientsItems {
	margin: 5px 0 5px 0;
}

.stepsList {
	counter-reset: my-awesome-counter;
	list-style: none;
	padding-left: 40px;
}

.stepsListitem {
	margin: 1rem 0 0 0;
	counter-increment: my-awesome-counter;
	position: relative;
	font-family: 'Sora', sans-serif;
	font-size: 16px;
}

.stepsListitem::before {
	content: counter(my-awesome-counter);
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif,
		sans-serif;
	position: absolute;
	left: calc(-1 * 32px - 10px);
	line-height: 32px;
	width: 32px;
	height: 32px;
	top: -5px;
	transform: rotate(-10deg);
	background: #595959;
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 1px 0 #999;
}
