.comments_container {
	--border-color: #091963;
	width: 100%;
	max-width: 800px;
	margin: 50px auto;
}

.comments_container > .comment {
	margin-bottom: 20px;
}

.comment {
	display: flex;
	width: 100%;
}

.line {
	position: relative;
	width: 15px;
	height: 50%;
	border-left: 4px solid var(--border-color);
	border-bottom: 4px solid var(--border-color);
	border-radius: 0 0 0 10px;
}

.comment_content {
	width: 100%;
}

.replies {
	padding-top: 10px;
	position: relative;
	padding-left: 35px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.replies::before {
	content: '';
	position: absolute;
	background-color: var(--border-color);
	width: 4px;
	top: 0;
	height: calc(100% - 65px);
}

.comment_wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.content {
	display: flex;
	border: solid 2px var(--border-color);
	padding: 10px;
	border-radius: 5px;
	background-color: #fff;
}

.content img {
	border-radius: 50%;
	width: 40px;
	margin-right: 10px;
}

.content .comment_info {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 5px;
}

.comment_info .header .username {
	font-family: Sora Bold, Impact, Haettenschweiler, 'Arial Narrow Bold',
		sans-serif;
	font-size: 15px;
	margin-right: 15px;
}

.comment_info .header .date {
	color: #999;
	font-family: Open Sans;
	font-size: 12px;
}

.comment_info .text {
	font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.comment_info .actions {
	display: flex;
	width: 100%;
	gap: 5px;
}

.comment_info .actions button {
	border: none;
	background-color: transparent;
	color: #6d9bfd;
	cursor: pointer;
	font-family: Sora Bold, Impact, Haettenschweiler, 'Arial Narrow Bold',
		sans-serif;
	font-size: 12px;
	outline: none;
	transition: color 500ms ease-in-out;
}

.comment_info .actions button:hover {
	color: #2051bb;
}
