.containerRecipeDetail {
	display: grid;
	row-gap: 0px;
	column-gap: 40px;
	grid-template:
		'header' auto
		'recipe' auto
		'sidebar' auto
		'comments' auto;
	min-height: calc(100dvh - 170px);
	height: 100%;
	background-color: #fff;
	padding: 40px 5%;
}

.recipeDetails {
	grid-area: recipe;
}

.sidebarDetails {
	grid-area: sidebar;
	margin-top: 20px;
}

.commentDetails {
	grid-area: comments;
}

.sectionTitle {
	font-family: 'Montserrat', Georgia, Times, 'Times New Roman', serif;
	font-weight: 600;
	margin: 25px 0 15px;
	text-transform: uppercase;
	font-size: 26px;
	color: #282828;
	align-items: center;
	display: flex;
}

.sectionLine {
	margin-left: 15px;
	height: 1px;
	border-bottom: 2px solid #282828;
	width: 100%;
}

@media (min-width: 1300px) {
	.containerRecipeDetail {
		grid-template:
			'header header' auto
			'recipe sidebar' auto
			'recipe .' auto
			'comments .' auto /
			1fr 300px;
	}
}

@media (min-width: 800px) and (max-width: 1299px) {
	.containerRecipeDetail {
		grid-template:
			'header header' auto
			'recipe sidebar' auto
			'recipe .' auto
			'comments .' auto /
			1fr 300px;
	}
}