.container {
	display: grid;
	gap: 20px;
	grid-template:
		'recipe' auto
		'sidebar' auto
		'comments' auto;
	min-height: calc(100vh - 170px);
	height: 100%;
	background-color: #ecf5ff;
}

.recipeDetails {
	grid-area: recipe;

}

.sidebarDetails {
	grid-area: sidebar;
	background-color: #afd6af;
	margin-top: 20px;
}

.commentDetails {
	grid-area: comments;
}

@media (min-width: 1300px) {
	.container {
		justify-content: center;
		grid-template:
			'recipe sidebar' auto
			'recipe .' auto
			'comments .' auto /
			900px 350px;
	}
}

@media (min-width: 800px) and (max-width: 1299px) {
	.container {
		grid-template:
			'recipe sidebar' auto
			'recipe .' auto
			'comments .' auto /
			auto 300px;
	}
}