.layoutBodyContainer {
	display: grid;
	grid-template-columns: max-content 1fr;
	scrollbar-gutter: stable;
}

.mainLayout {
	scrollbar-gutter: stable;
}

.content {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 20px 30px 40px;
	height: auto;
	min-height: calc(100dvh - 80px);
	width: 100%;
	max-width: 1400px;
	scrollbar-gutter: stable;
}