.layoutAdmin {
	transition: margin-left 0.2s;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0px 0px !important;
	height: 65px;
}

.content {
	height: 100vh;
	max-height: 100%;
	padding: 90px 40px 15px 50px;
}
