.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 60px;
	margin-top: auto;
	background: #0d58ba;
	font-family: Sora, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.copyright {
	text-align: center;
	color: #f1f7ff;
}

.credits {
	text-align: center;
	font-size: 12px;
	color: #f1f7ff;
}

.link {
	color: #bfddfe;
}

/* .link:hover {
	color: #f1f7ff;
} */