/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
	display: flex;
	align-items: center;
	width: 100%;
	height: calc(100vh - 80px);
	background: url('@/assets/images/home/home.png') right;
	background-size: cover;
	position: relative;
}

.hero:before {
	content: '';
	/*background: rgba(0, 0, 0, 0.1);*/
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

.hero .container {
	padding: 0 10%;

}

.hero h1 {
	margin: 0;
	font-size: 60px;
	font-weight: 800;
	line-height: 56px;
	color: #ff2f00;
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
	/* Montserrat
	text-shadow: 4px 3px 0 #7a7a7a; */
}

.hero h1 span {
	font-family: 'Sora', sans-serif;
	font-weight: 700;
	font-size: 58px;
	display: inline-block;
	transform: translate(0, 0) rotate(0) skewX(-12deg) skewY(0) scaleX(1) scaleY(1);
	background-color: #ff5630;
	padding-left: 1rem;
	padding-right: 1rem;
	color: rgb(247 250 252 / 1);
}

.hero p {
	margin: 32px 0;
	font-size: 17px;
	font-weight: 600;
	width: 600px;
}

.btnStarted {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 28px;
	border-radius: 4px;
	transition: background 0.5s;
	color: #fff;
	background: #106eea;
	cursor: pointer;
	text-transform: uppercase;
}

.btnStarted:hover {
	background: #4e8bdb;
	color: #fff;
}

@media (min-width: 1024px) {
	.hero {
		background-attachment: fixed;
	}
}

@media (max-width: 992px) {
	.hero .container {
		padding-top: 58px;
	}
}

@media (max-width: 768px) {
	.hero h1 {
		font-size: 42px;
		line-height: 50px;
		margin-bottom: 20px;
	}

	.hero h2 {
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 30px;
		font-weight: 700;
		text-shadow: 2px 1px 0 #7a7a7a;
	}
}