.sectionBg {
	padding: 70px 10%;
	box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
	/* background: #f7efdd; */
}

.header h3 {
	font-size: 42px;
	/* color: #283d50; */
	font-weight: 700;
	position: relative;
	font-family: 'Sora', sans-serif;
}

.header h3 span {
	font-family: 'Sora', sans-serif;
	font-weight: 700;
	font-size: 40px;
	display: inline-block;
	transform: translate(0, 0) rotate(0) skewX(-12deg) skewY(0) scaleX(1) scaleY(1);
	background-color: #fa8c15;
	padding-left: 14px;
	padding-right: 14px;
	color: rgb(247 250 252 / 1);
}

.header p {
	margin: auto;
	font-size: 16px;
	padding-bottom: 40px;
	/* color: #556877; */
	width: 100%;
	font-family: 'Sora', sans-serif;
}

.flexboxCards {
	display: flex;
	justify-content: center;
	align-items: baseline;
	gap: 50px;
}

/* Services Section
--------------------------------*/

.box {
	padding: 30px;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	margin: 0 10px 40px 10px;
	background: #fff;
	box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
	transition: transform 0.3s ease-in-out;
	width: 100%;
}

.box:hover {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
}

.icon {
	position: absolute;
	left: -10px;
	top: calc(50% - 32px);
}

.icon .iconAntd {
	font-size: 64px;
	line-height: 1;
	transition: 0.5s;
}

.title {
	margin-left: 40px;
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 20px;
	color: #111;
	font-family: Monserrat, sans-serif;
}

.box:hover .title {
	color: #007bff;
}

.description {
	font-size: 14px;
	margin-left: 40px;
	line-height: 24px;
	margin-bottom: 0;
}

@media screen and (max-width: 770px) {
	.flexboxCards {
		flex-wrap: wrap;
		gap: 5px;
	}
}