.radioButton {
  cursor: pointer;
  display: inline-block;
}

.contentWrapper {
  background: #ddd;
  border-radius: 15px;
  width: 120px;
  min-height: auto;
  padding: 5px;
  display: grid;
  place-items: center;
  box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.04);
  transition: 200ms linear;
  position: relative;
}

.radioButton input[type='radio'] {
  display: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.radioButton input[type='radio']:checked+.contentWrapper {
  background: #EB5C27;
}

.radioContent h4 {
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  color: #000;
  margin-bottom: 0;
  text-transform: capitalize;
  font-weight: 400;
  font-family: 'Sora', sans-serif;
}

.radioButton input[type='radio']:checked+.contentWrapper>.radioContent>h4 {
  color: #fff;
}