.card-container {
    display: grid;
    grid-template-columns: 5rem calc(100% - 13rem) 8rem;
    height: 7rem;
    width:100%;
    max-width: 60rem;
    background-color: rgba(255, 255, 255, .75);
    border-radius: .7rem;
    padding: .75rem;
    font-size: .95rem;
    transition: .3s;
}

@media (max-width: 425px) {
	.card-container {
        border-radius: 0rem;
	}
}

.card-container-active:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.card-user {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-user::after {
    display: none;
    position: absolute;
    top: -1.5rem;
    left: 0;
    content: attr(data-user);
    border-radius: .5rem;
    padding: .5rem;
    min-width: 10rem;
    text-align: center;
    background-color: #222;
    color: #ddd;
}

.card-user:hover:after{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding-left: .5rem;
    color: #333;
}

.card-content__title {
    /* min-height: 50%; */
    font-size: 1.3rem;
}

.card-content__title p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-content__info {
    display: flex;
    gap: 2rem;
    /* min-height: 50%; */
}

.card-content__info-votos, .card-content__info-respuestas {
    display: flex;
    gap: 0.5rem;
}

.card-content__edit {
    transition: .2s;
}

.card-content__edit:hover {
    transform: scale(1.4);
    color: #b86610;
}

.card-status {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: #333;
}

.card-status p {
    margin-bottom: 0;
}

.card-status__time {
    width: 100%;
}

.card-status__time p {
    text-align: right;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: 3.5rem calc(100% - 8.5rem) 5rem;
        font-size: .85rem;
    }

    .card-content__title {
        /* min-height: 50%; */
        font-size: 1.1rem;
    }

    .card-content__info-respuestas p:nth-child(3), .card-content__info-votos p:nth-child(3) {
        display: none;
    }
}
