.containerCard {
	display: flex;
	height: 135px;
	width: 100%;
	background-color: #ffffff;
	cursor: pointer;
	margin-bottom: 2em;
	transition: 900ms box-shadow;
	border-radius: 15px;
	position: relative;
	transition: 500ms transform;
}

.containerCard:hover {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 0px;
	transform: translateY(-5px);
}

.leftCard {
	height: 100%;
	width: 33%;
	overflow: hidden;
	border-radius: 15px 0 0 15px;
	position: relative;
}

.imagenCard {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.tagCard {
	position: absolute;
	bottom: 20px;
	left: 35px;
	background: #66676b;
	margin: 0;
	z-index: 1;
	line-height: 14px;
	padding: 7px 16px;
	text-align: center;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 2.5px;
	border-radius: 50px;
	color: #fff;
	font-weight: 400;
}

.rightCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 2em 5em 2em 2em;
}

.nameCard {
	font-family: Roboto;
	font-size: 20px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 5px;
}

.infoCardMap {
	color: #808080;
	font-size: 16px;
	font-weight: 300;
	display: inline-block;
}

.likeMap {
	border: none;
	cursor: pointer;
	background-color: #eee;
	color: #9d9d9d;
	font-size: 25px;
	padding: 8px 12px 4px;
	border-radius: 50%;
	width: min-content;
	position: absolute;
	right: 20px;
}

.likediconMap {
	animation: liked 0.4s ease;
}

@keyframes liked {
	0% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

.likeMapActive {
	background-color: #f3103c;
	color: #fff;
}

@media only screen and (max-width: 1080px) {
	.containerCard {
		flex-direction: column;
		min-height: 250px;
	}

	.leftCard {
		height: 60%;
		width: 100%;
	}

	.imagenCard {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	.rightCard {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		padding-left: 3em;
		height: 40%;
	}

	.likeMap {
		top: 45%;
	}
}
