.containerMap {
	display: flex;
	flex-wrap: wrap-reverse;
}

.paramSearchMap {
	font-weight: 500;
	font-size: 15px;
	line-height: 29px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 2em 5em 1.5em 3em;
}

.listSearchMap {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color: #f2f4f5;
	width: 50%;
	height: 100%;
}

.listCardsMap {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 3ch;
}

.fullMap {
	background-color: #f7f7f7;
	width: 50%;
	height: auto;
	position: relative;
}

.showingResultsMap {
	color: #888;
	font-weight: 500;
	margin: 5px 0 25px 0;
	font-size: 16px;
	line-height: 29px;
}

.radio-button {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.newMarketButton {
	border-radius: 4px;
	background: #638475;
	padding: 5px 8px;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	transition: color 0.2s ease-in-out;
	text-decoration: none;
	font-family: Sora Light, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.newMarketButton:hover {
	color: #000;
}

.resultButtonMap {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 15px;
}

.radioMenuMap {
	padding: 15px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media only screen and (max-width: 990px) {
	/* .leaflet-container {
		position: absolute;
	} */
	.containerMap {
		min-height: 100vh;
	}
	.fullMap {
		width: 100%;
		height: 70vh;
	}
	.paramSearchMap {
		padding: 1em 1.5em;
	}
	.listSearchMap {
		width: 100%;
		height: auto;
	}
	.listCardsMap {
		height: auto;
		overflow-y: hidden;
	}
}
