.sliderReact {
	margin: 3rem 0;
	height: auto;
	position: relative;
}

.slickSlider {
	margin: 30px auto 50px;
	width: auto;
}

.slide {
	transform: scale(1);
	opacity: 1;
}

.arrow {
	position: absolute;
	cursor: pointer;
	z-index: 2;
	font-size: 40px;
	transition: color 500ms ease-in-out;
	margin-right: 5%;
}

.arrow:hover {
	color: #595959;
}

.next {
	right: 0%;
	bottom: -15%;
}

.prev {
	right: 60px;
	bottom: -15%;
}
