.container {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: #fff;
}

.carouselContainer {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.title {
	margin: 0;
	font-size: 35px;
	font-weight: 600;
	font-family: 'NoirPro', sans-serif; /* Montserrat */
}

.notFound {
	font-family: 'Sora', sans-serif;
	margin-top: 25px;
}
