.uploadContainer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: fit-content;
}

.uploadContainer>img {
  border: 1px solid #ccc;
  border-bottom: none;
  object-fit: contain;
  aspect-ratio: 1/1;
  height: 150px;
}