.bannerContainer {
  align-items: center;
  background-color: #55B938;
  box-shadow: 0px 1px 4px rgba(52, 52, 52, 0.25);
  border-radius: 8px;
  color: #ffffff;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-between;
  margin-bottom: 33px;
  min-height: 80px;
  padding: 15px 15px 10px 16px;
}

.mainInfo {
  display: flex;
  gap: 10px;
}


.content {
  color: #FFFFFF;
  text-align: start;
}

.title {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 22px;
  margin: 0px;
  padding: 0px;
  display: inline;
}

.subtitle {
  font-size: 12px;
  line-height: 22px;
}

.btnGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}