.containerMapReview {
  padding: 0px 40px;
}

.btnBack {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  width: fit-content;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: 0 auto;
  width: 600px;
}

.header>h2 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.averageContainer {
  font-size: 14px;
  text-align: end;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.averageStar {
  font-size: 24px;
  font-family: 'Sora', sans-serif;
  font-weight: 800;
  display: flex;
  gap: 5px;
  align-items: flex-end;
  margin-bottom: 5px;
}

.averageContainer>span {
  text-wrap: nowrap;
}

.reviewsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 40px auto;
  width: 500px;
}

.reviewsContainer>span {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}