.aportes-container {
    min-height: calc(100vh - 170px);
    height: 100%;
    background: url(/src/assets/images/aportes/donation1.jpeg) left;
    background-repeat: no-repeat;
    background-size: cover;
}

.aportes-container-background {
    min-height: calc(100vh - 170px);
    height: 100%;
    background-color: rgba(150, 214, 204, 0.3);
}

.aportes-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    padding: 1rem;
    padding-top: 3rem;
    background-color: rgba(0, 255, 0, .35);
    backdrop-filter: blur(3px);
    font-size: 2.5rem;
    color: #444;
}

.aportes-body {
    margin-top: 1rem;
    padding: 1rem;
}

.aportes-body_info {
    padding: 10px;
    background-color: #b0b0b0e8;
    margin-bottom: 1rem;
}

.aportes-body_info-title {
    font-family: 'Sora', sans-serif;
    font-size: 1.7rem;
    color: #222;
}

.aportes-body_info-body {
    font-size: 1.2rem;
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    color: #222;
}

.aportes-body_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.btn-donar-container {
    position: relative;
}

/* Secciones de imagenes */

.aportes-body_info-content {
    display: flex;
    flex-direction: column;
}

.aportes-body_info-content:nth-child(2) {
    align-items: center;
    justify-content: center;
}

.aportes-up-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: nowrap;
    border: 3px solid #105826b0;
    padding: 10px;
    margin-bottom: 20px;
}

.aportes-body_info-left-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: nowrap;
    background-color: #b0b0b0e8;
    margin-right: 10px;
}

.aportes-body_info-right-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: nowrap;
    background-color: #b0b0b0e8;
    margin-left: 10px;
}

.left-column,
.right-column {
    display: flex;  
    flex-direction: column;
    flex: 2;
    flex-wrap: nowrap;
    margin: 20px 20px;

    font-family: 'Sora', sans-serif;
}

.left-column h2,
.right-column h2 {
    font-size: 18px;
    font-weight: 600;
    color: #222;
}

.left-column p,
.right-column p {
    font-size: 14px;
    font-weight: 500;
    color: #222;
}

.aportes-body_info-content-image {
    width: 160px;
    height: 160px;
    border: 3px solid #fff;
    float: left;
}

.aportes-bottom-container {
    display: flex;
    flex-direction: column;  
    flex: 1;
    width: 50%;

    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 30px;

    border: 3px solid #105826b0;
    background-color: #b0b0b0e8;

    font-family: 'Sora', sans-serif;
}

.aportes-body_info-bottom-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: nowrap;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}

.aportes-body_info-bottom-content h2 {
    font-size: 18px;
    font-weight: 600;
    color: #222;
}

.aportes-body_info-bottom-content p {
    font-size: 14px;
    font-weight: 500;
    color: #222;
}

@media (max-width: 425px) {
    .aportes-title {
        font-size: 1.8rem;
    }

    .aportes-body_info-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 380px) {
    .aportes-title {
        font-size: 1.6rem;
    }
}

@media (max-width: 340px) {
    .aportes-title {
        font-size: 1.4rem;
    }
}

.aportes-body_btn img {
    position: absolute;
    right: -10rem;
    top: 3rem;
}

.btn-donar {
    font-size: 2.2rem;
    font-weight: bolder;
    padding: .8rem 2.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.btn-donar:hover {
    background-color: #ddd;
}

/*  MODAL  */

.modal-opciones-pago-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: calc(100vh - 170px);*/
    height: 100%;
    width: 100%;
    margin-top: 100px;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
}

.modal-opciones-pago {
    height: 15rem;
    width: 25rem;
    padding: 1rem;
    padding-top: .5rem;
    border-radius: 1rem;
    background-color: #ddd;
}

.modal-opciones-pago_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    border-bottom: 1px solid #ccc;
}

.modal-opciones-pago_header-title {
    font-size: 1.4rem;
}

.modal-opciones-pago_header-close {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: .5rem;
}

.modal-opciones-pago_header-close:hover {
    background-color: #ccc;
}

.modal-opciones-pago_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    gap: 1.5rem;
}

.modal-opciones-pago_body-input-container {
    display: flex;
    height: 2.3rem;
    width: 15rem;
    border-radius: .5rem;
    background-color: #f5f5f5;
}

.modal-opciones-pago_body-input-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 2rem;
}

.modal-opciones-pago_body-input {
    outline: none;
    border: none;
    height: 2.3rem;
    width: 13rem;
    background-color: #f5f5f5;
    border-radius: .5rem;
    /* padding-left: .5rem; */
}

.modal-opciones-pago_body-btn {
    height: 3.5rem;
    /* width: 8.5rem; */
    width: 15rem;
    border-radius: .5rem;
    font-size: 1rem;
    color: #0d58ba;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.modal-opciones-pago_body-btn:hover {
    background-color: #0d58ba;
    color: #fff;
}

.modal-opciones-pago_body-btn-disabled {
    color: #777;
}

.modal-opciones-pago_body-btn-disabled:hover {
    background-color: rgba(239, 239, 239, 0.3);
    color: #777;
    cursor: not-allowed;
}