label .categoryItem {
  margin: 5px;
  display: inline-block;
}

.categoryItem div {
  align-items: center;
  border-radius: 20px;
  box-sizing: border-box;
  color: #a4a4a4;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  gap: 8px;
  height: min-content;
  justify-content: center;
  padding-bottom: 7px;
  transition: 500ms ease color;
  width: min-content;
  border: 1px solid #a4a4a4;
  padding: 5px 10px;
  line-height: 22%;
}

.categoryItem div svg {
  height: 20px;
  width: 20px;
}

.categoryItem div:hover {
  border-color: var(--bgColor);
  color: var(--bgColor);
}

.categoryItem input[type=checkbox]:checked~div {
  color: #fff;
  background-color: var(--bgColor);
}

.categoryItem input[type='checkbox'] {
  display: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}