.contactContainer {
  margin: 70px 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.contactFlex {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  align-items: center;
}

.contactInfo {
  width: 300px;
}

.contactInfo>p {
  width: 320px;
  text-wrap: pretty;
  font-size: 16px;
  line-height: 1.5;
}

.contactTitle {
  font-family: 'Sora', Verdana, sans-serif;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 20px;
}

.contactInfo h1 span {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  font-size: 38px;
  display: inline-block;
  transform: translate(0, 0) rotate(0) skewX(-12deg) skewY(0) scaleX(1) scaleY(1);
  background-color: #f91942;
  padding-left: 14px;
  padding-right: 14px;
  color: rgb(247 250 252 / 1);
}

.formBody {
  color: #212529;
  border: 1px solid #ddd;
  background-color: #FFF;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  padding: 30px 40px;
  width: 600px;
}

.formBody h3 {
  font-size: 22px;
  color: #212529;
  font-weight: 500;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.formBody p {
  font-weight: 300;
}

.formBody button {
  background-color: #E72533;
  display: block;
  width: max-content;
  padding: 0 25px;
  color: #FFF;
  height: 40px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.formBody button:hover {
  filter: brightness(90%);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */