.containerNotification {
	display: grid;
	grid-template-columns: min-content 1fr;
	cursor: pointer;
	margin: 0px 20px 20px;
	color: #fff;
	padding: 8px;
	border-radius: 5px;
}

.containerNotification:hover {
	background-color: #383737;
}

.successNotification>svg {
	color: #36b37e;
	border-radius: 50%;
	height: 35px;
	width: 35px;
}

.contentBox {
	color: #f1f1f1;
	font-size: 14px;
	display: flex;
	text-wrap: pretty;
	flex-wrap: wrap;
	margin-top: 2px;
	margin-left: 10px;
}

.contentBox>p {
	margin-bottom: 0px;
}

.titleNotification {
	white-space: normal;
	font-weight: 600;
}

.dateNotification {
	font-weight: 200;
	font-size: 12px;
}

.descriptionNotification {
	margin-top: 3px;
	font-weight: 300;
	font-size: 12px;
}

/* .evento p:first-letter {
	text-transform: uppercase;
} */