.mainSearchInput {
  align-items: flex-start;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  max-height: 68px;
  padding: 9px;
  width: 100%;
  font-weight: 500;
}

.searchInputName {
  border-right: 1px solid #e9e9e9;
  color: #707070;
  flex: 1;
  font-size: 15px;
  line-height: 27px;
  margin-top: 3px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.searchInputName input,
.searchInputBrand input {
  background: #fff;
  border: none;
  box-shadow: none;
  font-size: 15px;
  height: 44px;
  margin: 0;
  padding: 0;
}

.searchInputProductType {
  border-right: 1px solid #e9e9e9;
  color: #707070;
  flex: 1;
  line-height: 27px;
  margin-top: 7px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.searchInputBrand {
  border-right: none;
  color: #707070;
  flex: 1;
  font-size: 15px;
  line-height: 27px;
  margin-top: 3px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.searchSelect {
  width: 100%;
}

.searchSelect>div {
  background: #fff;
  border: none;
  box-shadow: none;
  font-size: 15px;
  height: 44px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.btnSearch {
  display: grid;
  place-content: center;
  background-color: #F5222D;
  border-radius: 50px;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  margin-left: auto;
  transition: background-color 0.2s ease-in-out;
  width: 50px;
}

.btnSearch:hover {
  background-color: #f8254c;
}

.btnSearch>span {
  transform: translateY(2px);
}

.cleanButton {
  color: #fa8c15;
  margin-left: 16px;
  font-weight: 600;
  line-height: 1.25;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border: none;
  background-color: transparent;
  padding: 2px 5px;
  width: fit-content;
}

.cleanButton:hover {
  background-color: rgba(26, 26, 26, .06);
  border-radius: 10px;
}

.likeProduct {
  border-radius: 50px;
  color: #6b6b6b;
  cursor: pointer;
  line-height: normal;
  display: grid;
  place-content: center;

}

.likeProduct:hover:not(.likeProductActive) {
  color: #f3103c;
}

.likeProductActive>svg {
  animation: liked 0.4s ease;
}

@keyframes liked {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.likeProductActive {
  color: #f3103c;
}